
.header-continer{
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 140px;
    .contect{
        align-items: center;
        justify-content: center;
        button{
            background-color: unset;
            border: 1px solid white;
            border-radius: 15px;
            padding: 8px 30px;
            color: white;
            transition: 0.4s;
            &:hover{
                color: #002529;
                background-color: white;
            }
        }
    }
}
.logoNav{
    align-items: flex-start;
    nav{
        a{
            color: white;
            transition: 0.4s;
            &:hover{
                color: #f67d7d;
            }
        }
        padding: 0 100px;
        padding-top: 8px;
        & *:not(:last-child){
            margin-right: 30px;
        }
    }


}